body {
 font-family: 'Noto Sans', sans-serif;
}

h1, h2, h5, h6 {
	font-family: 'Noto Sans', sans-serif;
}

h3, h4 {
	font-family: 'Dancing Script', cursive;
}

.btn-info {
	margin-bottom: 5px;
}

.jumbotron {
	background-image: url(food-back.jpg);
	background-repeat: no-repeat; 
	background-size: cover; 
	height: 500px;
}
.container {
	margin-top: 200px;
	margin-left: 10%;
}