body {
  font-family: 'helvetica neue', arial, sans-serif;
  font-weight: 300;
  background-repeat: repeat
  text-align: left;
}
#wrapper {
  width: 960px;
  margin: 20px auto 20px auto;
}
h1 {
	color: rgb(100, 100, 212);
    text-align: left;
    font-size: xx-large;
    font-style: oblique;
}
h4 {
	color: green;
}
#summary {
	color: orange;
}
h2 {
	text-shadow: 1px 1px 1px black;
}
img {
	width: 300px;
}
.icons { 
	width:50px;
}
.minicon {
	width:30px;
}
h5 {
	font-size: 15px;
	font-style: italic;
	text-decoration: underline;
}